#allButton.active {
  visibility: hidden;
  opacity: 0;
}
#infoButton.active {
  visibility: hidden;
  opacity: 0;
}
#leaveButton.active {
  visibility: hidden;
  opacity: 0;
}
.auction-container {
  display: block;
  margin: auto;
  width: 80%;
  background-color: grey;
}

.auction-container#blur.active {
  filter: blur(20px);
}

.auction-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 130vh;
  margin: auto;
}

.bid-component {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.congo-msg {
  background: radial-gradient(black, black, brown);
}

#popup {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 50px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.popup-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
}
.screen-img {
  width: 130vh;
  height: 73vh;
  /* background-color: rgb(43, 44, 44); */
  margin: auto;
  overflow-y: auto;
  border: 10px solid rgb(44, 10, 1);
  display: flex;
  flex-direction: column;
}

.screen-img {
  box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.253) !important;
}

.update-bid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 6px;
}
